version: '3.8'

services:
  # Banco de dados PostgreSQL
  db-pweb:
    image: postgres:15-alpine
    container_name: db-pweb
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: todolist
    ports:
      - "5434:5432"
    volumes:
      - postgres_pweb_data:/var/lib/postgresql/data
    networks:
      - todo-pweb-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d todolist"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  # Serviço do Redis (Cache)
  redis-pweb:
    image: redis:alpine
    container_name: redis-pweb
    networks:
      - todo-pweb-network
    ports:
      - "6379:6379"

  # Backend API
  backend-pweb:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend-pweb
    environment:
      NODE_ENV: production
      PORT: 3000
      # Banco de Dados
      DB_HOST: db-pweb
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: todolist
      # CONFIGURAÇÃO DO REDIS (O que estava faltando)
      REDIS_HOST: redis-pweb
      REDIS_PORT: 6379
      # Autenticação (JWT)
      JWT_SECRET: mudesecretoparaalgoaleatorio
      # Supabase Storage
      SUPABASE_URL: coloque_sua_url_aqui
      SUPABASE_KEY: coloque_sua_chave_aqui
      SUPABASE_BUCKET: avatars
    ports:
      - "3000:3000"
    depends_on:
      db-pweb:
        condition: service_healthy
      redis-pweb:
        condition: service_started
    networks:
      - todo-pweb-network
    restart: unless-stopped

  # Frontend
  frontend-pweb:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - VITE_API_BASE_URL=http://localhost:3000
    container_name: frontend-pweb
    ports:
      - "80:80"
    depends_on:
      - backend-pweb
    networks:
      - todo-pweb-network
    restart: unless-stopped

networks:
  todo-pweb-network:
    driver: bridge

volumes:
  postgres_pweb_data: